:root {
	--background-color: #1d1f21;
	--foreground-color: #c5c8c6;
	--border-color: #2d3c46;
	--selection-color: #de935f;

	--font: 9pt "Luculent Regular", monospace;
}

/* Graph */
svg {
	display: none;
	font: var(--font);
}
svg * { pointer-events: all; }
rect.block {
	fill: #4a4a4a;
	stroke: #5f5f5f;
}
g.block {
	opacity: 0.1;
}
svg.unselected g.block, g.block.current {
	opacity: 1.0 !important;
}
g.block.reachable {
	opacity: 0.6;
}
rect.bounding-box {
	fill: none;
	stroke: #f00;
	stroke-width: 2;
}
tspan.address {
	fill: #98c99b;
}
tspan.mnemonic {
	fill: #fff;
}
tspan.register {
	fill: #ebca8a;
}
path.edge {
	fill: none;
	stroke-width: 2;
	opacity: 0.1;
}
path.edge.unconditional {
	stroke: #77c5d1;
	marker-end: url(#TriangleUnconditional);
}
path.edge.fallthrough {
	stroke: #98c99b;
	marker-end: url(#TriangleFallthrough);
}
path.edge.jump {
	stroke: #895f63;
	marker-end: url(#TriangleJump);
}
path.edge.back-edge {
	stroke-dasharray: 4,4;
}
svg.unselected path.edge, path.edge.active {
	opacity: 1.0;
}
#MiniView rect.background {
	fill: #000000;
	stroke: #000000;
	stroke-width: 2;
}
#MiniView rect.viewport {
	fill: #fff;
	stroke: #fff;
	stroke-width: 2;
}
text.highlight tspan {
	font-weight: bold;
}

/* Editors */
.right {
	text-align: right;
}
code.language-assembly span.source-address {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

.gdb-console-container {
	flex: 1;
	background: #373b41;
	background: #1d1f21;
	overflow-y: auto;
}
.gdb-console {
	white-space: pre-wrap;
	font: var(--font);
}
.gdb-console .console {
	color: #c5c8c6;
}
.gdb-console .log {
	color: #969896;
}
.gdb-console .error {
	color: #cc6666;
}
.gdb-console .prompt {
	color: #373b41;
}

.registers, .stack {
	font: var(--font);
	overflow-y: auto;
	background: #1d1f21;
	color: #c5c8c6;
}
.registers tr:nth-child(odd), .stack tr:nth-child(odd) {
	background: #282c30;
}
.registers th, .stack th {
	padding: 3px;
}
.registers td, .stack td {
	overflow: none;
	text-overflow: ellipsis;
}

.source-editor, .assembly-editor {
	overflow: auto;
}
.source-editor>pre,
.source-editor>pre>code,
.assembly-editor>pre,
.assembly-editor>pre>code {
	height: 100%;
	margin: 0;
}
